# Configuration file

general {
    B:Forge=true

    # Selects the files that are being loaded [default: ]
    S:LoadingFiles <
        testdrop.json
     >
    B:Loot=true

    # Selects the files that load into the NBTStorage [default: ]
    S:NBTFiles <
     >
    B:Player=true
    B:Utils=true
    B:World=true
}


